@font-face {
  font-family: "Glacial Indifference";
  src: url("../assets/fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("../assets/fonts/GlacialIndifference-Bold.woff") format("woff"),
    url("../assets/fonts/GlacialIndifference-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("../assets/fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("../assets/fonts/GlacialIndifference-Regular.woff") format("woff"),
    url("../assets/fonts/GlacialIndifference-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
